export PROJECT_ID="mlops-7374"
export ROLE_ID="mlflow_user"
export SERVICE_ACCOUNT_ID="mlflow-service-account"
export VPC_NETWORK_NAME="mlflow-vpc-network"
export VPC_PEERING_NAME="mlflow-vpc-peering"
export CLOUD_SQL_NAME="mlflow-sql-storage"
export REGION="us-east1"
export ZONE="us-east1-a"
export CLOUD_SQL_USER_NAME="mlflow-sql-user"
export CLOUD_SQL_USER_PASSWORD="mlflow-7374-sql-user"
export DB_NAME="mlflow_db"
export BUCKET_NAME="mlflow-storage-bucket-mlops-7374"
export REPOSITORY_NAME="mlflow-artifact-repository"
export CONNECTOR_NAME="mlflow-container"
