
# Ignore CSV files
*.csv
data_preprocess.csv
data_raw.csv
bias_mitigated_data.csv

# Ignore virtual environment directories and environment files
mlopsenv/
mlops_env/
.venv/
.env
mlruns/
mlartifacts
mlflow.db
.envrc
mlruns/
mlartifacts
mlflow.db


# Ignore system-specific files
.DS_Store
Thumbs.db
docker-compose-local.yaml
# mlflow.db
bias_detection_results.pkl

# Ignore Python cache and compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore specific credentials or configuration files
mlops-437516-b9a69694c897.json

# Ignore pytest cache directories
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# mlflow files
mlflow_secrets.txt
