# .gitignore
trial_data.csv
dataset/merged_zones_weather_demand_data_2019.csv
dataset/merged_zones_weather_demand_data_2020to2022.csv
dataset/merged_zones_weather_demand_data_2023.csv
mlops_env
.DS_Store
/dataset/data/all_merged_zones_weather_demand_data.csv
/dataset/data/demand_weather_data.csv
/dataset/data/demand_weather_data.csv.dvc
/experiments/2011-2021_reduced.csv
/experiments/all_merged_zones_weather_demand_data.csv