requests
pandas
python-dateutil
python-dotenv
dvc[gs]
google-cloud-logging
scikit-learn
pandera
fairlearn
evidently
tensorflow
mlflow
xgboost
shap
ollama
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
llama-index-vector-stores-chroma
chromadb
fastapi 
uvicorn
yfinance
streamlit
